{% extends "app/base.html" %}
{% load crispy_forms_tags %}

{% block app_content %}
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Request Password Reset</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">
                    Sign In
                </button>
            </div>
        </form>
    </div>
{% endblock %}