{% extends 'app/base.html' %}

{% block app_content %}
{{apply_message.status}}
    <div class="card bg-light mb-3">
        <div class="card-header">
            <h2 class="text-center">Welcome {{user.full_name}}!</h2>
        </div>
        <div class="card-body">
            <h5 class="card-title text-center">Application Details</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Email: </b> {{ user.email }}</li>
                <li class="list-group-item"><b>Phone Number: </b> {{ user.phone_number }}</li>
                <li class="list-group-item"><b>Date of Birth: </b> {{ user.d_o_b }}</li>
                <li class="list-group-item"><b>FreeCodeCamp Link: </b> {{ user.fcc_link }}</li>
                <li class="list-group-item"><b>Application Status: </b> {{ user.approval }}</li>
                {% if user.last_seen %}
                <li class="list-group-item"><b>Last Login on:</b> {{ user.last_seen }}</li>
                {% endif %}
            </ul>
        </div>
    </div>
    <!-- <div> -->
       <!-- {{apply_message.status}}
    </div>
    <div class="user-profile">
        Your Profile Details :
        <br>
        Last Login : {{profile_messages.last_login}}
        <br>
        FCC Profile Link : {{profile_messages.fcc_link}}
        <br>
        Application Status : {{profile_messages.app_status}}
        <br><br><br>
        Additionally we will wish you on {{profile_messages.d_o_b}}
    </div> -->

{% endblock %}