<html>
    <body>
        <p>Hi,</p>

        <p>If you complete the following, you can interview at MountBlue:<br><br>
        &emsp;1) JavaScript Algorithms and Data Structures Certification on <a href="https://learn.freecodecamp.org/">FreeCodeCamp</a><br>
        &emsp;2) <a href="https://prep.hackreactor.com/p/hack-reactor-prep">HackReactor Prep</a><br>
        &emsp;3) <a href="https://www.hackerrank.com/domains/algorithms">HackerRank<a> - 2600 points<br>
        &emsp;4) Responsive Web Design Certification on FreeCodeCamp<br><br>
        Please do this patiently and properly. If you understand concepts with clarity, it would help you a lot in the process. Don't rush through the challenges. Work with relaxedness and patience.</p>

        <p>All the best.</p>
    </body>
</html>