<html>
    <body>
        <p>Hi,</p>
        
        <p>Thank you for applying for the intensive training program at Propel. This is to confirm your participation in the program.</p>
        
        <p>Reporting time: <strong>Monday 7th January, 9.30 AM</strong><p>
        <p>Location:  4th Floor, 91Springboard, #175 & #176, Dollar Layout, Phase 4, JP Nagar, Bengaluru, Karnataka 560076</p>
        <p>Google Maps: <a href="https://goo.gl/maps/FfzhyRkq6562">https://goo.gl/maps/FfzhyRkq6562</a><br>
        &emsp;1) Please ensure to not be late.<br>
        &emsp;2) Bring a Govt approved photo ID.</p>
        
        <p><strong>Please confirm your attendance by filling confirmation form in your  Propel School dashboard.</strong><p>
        
        <p>If you do not fill it by <strong>January, 11:59 pm</strong>, this seat will be given to someone else. You can specify if you want to join on a later date in this form.</p>
        
        <p>Please note:<br>
        &emsp;1) It is mandatory to be present on all days of the training.<br>
        &emsp;2) It is mandatory to attend all sessions and workshops.<br>
        &emsp;3) You must bring your own Laptop and headphones.<br>
        &emsp;4) Bring your hard work, sincerity and enthusiasm.<br>
        &emsp;5) Program dates - <strong>7th January, 2019 - 19th January, 2019</strong></p>
    
        <p>The participants who do well will be referred to MountBlue Technologies and other tech companies in Bengaluru.</p>
        
        <p>Before the joining date, please make as much progress as possible on the JavaScript Algorithms and Data Structures certification at <a href="https://learn.freecodecamp.org/">https://learn.freecodecamp.org/</a>. The more progress you make, the better you do in the program and better your chances of job referrals.</p>
        
        <p>For the complete program track, refer to <a href="https://github.com/propelschool/javascript-learning-path">https://github.com/propelschool/javascript-learning-path</a></p>
        
        <p>Shashi Kumar Sah</p>
        <p>General Manager</p>
        <p><a href="https://www.linkedin.com/in/shashisah/">LinkedIn</a> | 9206188913</p>
    </body>
</html>