<html>
    <body>
        <p>Hi,</p>

        <p>Thanks for applying to Propel School. You are on the waitlist for the next batch.</p>
        
        <p>We are going to start in the end of January. We will confirm you as soon as we finalize the dates for the next batch.</p>
        
        <p>Please complete the <strong>JavaScript Algorithms and Data Structures certification</strong>  and <strong>Responsive Web Design certification</strong> by then. This will help you in the training bootcamp.</p>
        
        <p>For the complete Propel curriculum, check out <a href="https://github.com/propelschool/javascript-learning-path">https://github.com/propelschool/javascript-learning-path</a></p>    
    </body>
</html>
